{
	"$schema": "node_modules/wrangler/config-schema.json",
	"name": "bot-inspect",
	"main": "src/index.ts",
	"compatibility_date": "2025-02-24",
	"observability": {
		"enabled": true
	},
	"triggers": {
		"crons": ["*/5 * * * *"]
	},
	"d1_databases": [
		{
			"binding": "DB",
			"database_name": "db_name",
			"database_id": "your***db***id",
			"migrations_dir": "drizzle",
			"preview_database_id": "your***preview***id"
		}
	],
	"kv_namespaces": [
		{
			"binding": "KV",
			"id": "your***kv****id",
			"preview_id": "your***preview***id"
		}
	]
}
