{
	"$schema": "node_modules/wrangler/config-schema.json",
	"name": "bot-inspect",
	"main": "src/index.ts",
	"compatibility_date": "2025-02-24",
	"observability": {
		"enabled": true
	},
	"triggers": {
		"crons": ["*/5 * * * *"]
	},
	"d1_databases": [
		{
			"binding": "DB",
			"database_name": "db_name",
			"database_id": "3r***e23846y9",
			"migrations_dir": "drizzle"
		},
		{
			"binding": "localDB",
			"database_name": "testDB",
			"database_id": "test_id",
			"migrations_dir": "drizzle"
		}
	]
}
